* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    max-width: 1280px;
  height: 100%;
  margin: 0 auto;
    font-size: inherit;
line-height: inherit;
font-family: "Helvetica Neue",Helvetica,Arial,PingFang,"Microsoft YaHei",SimHei,sans-serif;
color: #111;
background-color: #fff;
}

.main-foot {
    display: flex;
    margin: 30px auto;
    padding: 0 20px;

}

.merchMenuWrapper {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr repeat(3, 48px 1fr);
    grid-template-rows: auto 1fr;
    height: 130px;
    overflow: hidden;
}

.merchMenuWrapper:hover {
    height: 230px;
    transition: .7s;

}


.merchMenuWrapper h4 {
    margin-bottom: 16px;
    font-weight: 500;

}

.merchMenuWrapper h4:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.merchMenuWrapper>div:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.merchMenuWrapper h4:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

.merchMenuWrapper>div:nth-child(4) {
    grid-column: 3;
    grid-row: 2;
}

.merchMenuWrapper h4:nth-child(5) {
    grid-column: 5;
    grid-row: 1;
}

.merchMenuWrapper>div:nth-child(6) {
    grid-column: 5;
    grid-row: 2;
}

.merchMenuWrapper h4:nth-child(7) {
    grid-column: 7;
    grid-row: 1;
}

.merchMenuWrapper>div:nth-child(8) {
    grid-column: 7;
    grid-row: 2;
}

.merchMenuWrapper>div {
    max-height: inherit !important;
    line-height: 24px;
}

.main-foot .merchMenuWrapper >div li a {
    color: #757575;
    display: block;
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: #000;
}

.main-container {
    display: flex;
    /* width: 100%; */
    margin: auto;
    justify-items: center;
    text-align: center;

}

.main-container div {
    width: 100%;
}

.txt-card1 {
    top: 0;
    left: 0;
    background-color: transparent;
    margin-bottom: 20px;
}


.txt-card1 p {
    margin-top: 5px;
}

.txt-card1 h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.txt-card1 span {}

.txt-card1 div {}

.txt-card1 .select-btn {
    padding: 6px 20px;
    border-radius: 50px;
    border: 1.5px solid transparent;
    width: 32px;
    margin: 1em auto;
    background: #111;
    color: #fff;

}

.photo-card1 {

}

.photo-card1 .photo-card1-txt {
    position: relative;
    text-align: left;
    margin: 20px auto 5px auto;
}

.photo-card1-txt h2 {
    padding: 10px;
}

.photo-card1-txt button {
    position: absolute;
    border: none;
    background-color: rgba(204, 204, 204, 0.836);
    color: #000;
    border-radius: 200px;
    width: 38px;
    height: 38px;
    margin: 10px;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background-color 250ms cubic-bezier(.25, .1, .25, 1);
}


.photo-card1-txt button:hover,
.txt-card1 .select-btn:hover,
.photo-4 .pic-1 .txt:hover,
.pic .select-btn-right:hover,
.pic .select-btn-left:hover,
.photo-fashion .select-btn:hover {
    background-color: #cccccc;
}

.photo-card1-txt .prev-btn {
    position: absolute;
    right: 60px;
}

.photo-card1-txt .next-btn {
    position: absolute;
}

.photo-card1 .photo-3 {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.photo-3 a {}

.photo-3 .pic-1 {}

.pic-1 img {
    background-size: cover;
    width: 410px;
    height: 450px;
    margin: 10px;
}

.photo-3 .pic-1 .txt {
    width: auto;
    text-align: left;
    margin: 10px;
}

.photo-3 .txt div {}

.photo-3 .txt h5 {
    font-size: 18px;
}

.photo-3 .txt p {}

.photo-3 .txt .select-btn {}

.photo-card1 .photo-4 {
    display: flex;
    margin: 10px auto;
}

.photo-4 .pic {
    position: relative;
    vertical-align: baseline;
}

.photo-4 .pic-1 .txt {
    width: auto;
    position: absolute;
    text-align: left;
    padding: 6px 20px;
    color: #111;
    bottom: 40px;
    left: 40px;
    z-index: 1;
    background-color: #fff;
    border-radius: 200px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
}

.photo-card1 .photo-new {
    display: flex;
    justify-items: center;
    align-items: center;
}

.photo-new .pic {
    position: relative;
    padding: 5px;
    margin: auto;
}

.pic .select-btn-left {
    width: auto;
    position: absolute;
    text-align: left;
    padding: 6px 15px;
    color: #111;
    bottom: 60px;
    left: 50px;
    z-index: 1;
    background-color: #fff;
    border-radius: 200px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.pic .select-btn-right {
    width: auto;
    position: absolute;
    text-align: left;
    padding: 6px 15px;
    color: #fff;
    bottom: 60px;
    left: 50px;
    z-index: 1;
    background-color: #111;
    border-radius: 200px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.photo-new img {
    width: 610px;
    height: 700px;
}

.photo-new p {
    width: auto;
    position: absolute;
    text-align: left;
    bottom: 110px;
    left: 50px;
    font-weight: 700;
    color: #fff;

}


.photo-fashion .pic {
    position: relative;
    overflow: hidden;
}

.photo-fashion img {
    width: 100%;
    height: 100%;
    margin-top: -610px;
}

.photo-fashion p {
    width: auto;
    position: absolute;
    text-align: left;
    bottom: 110px;
    left: 50px;
    font-weight: 900;
    font-size: 24pt;
    color: #111;

}

.photo-fashion .select-btn {
    width: auto;
    position: absolute;
    text-align: left;
    padding: 6px 15px;
    color: #fff;
    bottom: 60px;
    left: 50px;
    z-index: 1;
    background-color: #111;
    border-radius: 200px;
    border: 1.5px solid transparent;
    justify-content: center;
    align-items: center;
    font-weight: 500;

}

.photo-point {}

.photo-point .pic img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.photo-top {}

.photo-top .pic img {
    width: inherit;
    height: 100%;
    margin: 0;
}
/* -------------------------------------- */
.foot-wrapper{
    background-color: #000;
    margin: 0px;
    left: 0;
    min-height: 200px;
}
.ncss-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    
}
.l-footer-body{
    display: flex;
    margin-bottom: 16px;
    
}
.hf-accordion-group{
    display: flex;
    vertical-align: baseline;
}
.l-footer-body .ncss-col-sm-12{
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0px 40px;
    font-size: 14px;
    line-height: 1.7;
    width: 75%;
}
.hf-accordion{
    width: 25%;
    
}

.hf-accordion-body{
    font-weight: 400;
    letter-spacing: .5px;
}


.l-social-menu{
    position: relative;
    width: 25%;
}
.social-links{
    display: flex;
    position: absolute;
    right: 0;
    top: 20px;
}
.d-sm-ib{
    margin: 14px;
    right: 0;
}
.social-link-icon{
    fill: #7e7e7e;
    transition: fill .2s;
}
.social-link-icon:hover {
    fill: #fff;
}
.hf-accordion .footer-link>a,
.footer-link{
    color: #7e7e7e;
}
.footer-accordion[data-index="0"] a
{
    color: #fff;
}

.hf-accordion .footer-link-header,
.hf-accordion .footer-link-header>a,
.hf-accordion .footer-link-header>button,
.footer-link:focus,
.footer-link:hover,
.footer-link>a:focus,
.footer-link>a:hover{
    color: #fff;
    
}

.footer-link{
    line-height: 2.3;
}

.l-sub-footer{
    display: flex;
}

.l-sub-footer .ncss-col-sm-12{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 14px;
    line-height: 1.7;
    width: 50%;
}
.d-md-flx{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-footer-menu{
    display: flex;
   /*  position: absolute; 
    right: 0;
    top: 0;*/
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
}
.ml3-md{
    font-size: 10px;
    line-height: 3;
    margin-right: 20px;

   
}
.ml3-md a{
    color: #7e7e7e;
}
.foot-wrapper button{
    font-family: inherit;
    background-color: transparent;
}
.sub-footer-copyright {
    vertical-align: baseline;
    color: #7e7e7e;
    line-height: 1!important;
}
.country-pin{
    background: transparent;
    vertical-align: baseline;
    padding-left: 0;
    color: #757575;
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    transition: color .35s ease;
}
.country-pin.nav-color-white .country-pin-label{
    display: inline-block;
    color: #fff;
    margin: 0 30px 0 10px;
    vertical-align: baseline;
    font-size: 10pt;
}
.country-pin.nav-color-white path{
    fill: #fff;
}

.foot-wrapper button {
    font-family: inherit;
}
.sub-footer-menu-dropdown {
    position: static;
    border-top: 2px solid transparent;
}
.sub-footer-menu-dropdown .hf-dropdown-menu-box-container {
    z-index: 3;
    bottom: 32px;
    right: 0;
    top: inherit;
    padding-bottom: 10px;
    max-width: 100%;
    min-width: 180px;
    width: 95%
}

.hf-dropdown-menu-box-container {
    background: transparent;
    padding-top: 10px;
    top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 101;
}

.hf-dropdown-menu-box-container{
    display: none;
}

.hf-dropdown-menu:hover>.hf-dropdown-menu-box-container{
    display: block;
   
}



.sub-footer-menu-dropdown .hf-dropdown-menu-box {
    border: 1px solid #fff;
    background: #111;
    text-align: left;
    transition: opacity .2s,visibility 0s linear .2s;
    display: block;
}



.ncss-row{
    display: block;
}
.ncss-col-sm-4{
    float: left;
    line-height: 1.6;
    font-size: 14px;
    width: 30%;
    
}

.hf-dropdown-menu-box {
    background: #fff;
    min-width: 180px;
    box-shadow: inset 0 0 0 0 #e5e5e5, inset -1px 0 0 0 #e5e5e5, inset 0 -1px 0 0 #e5e5e5, inset 1px 0 0 0 #e5e5e5;
}


.hf-dropdown-menu-box ul {
    padding: 20px 28px;
    width: 100%;
    
    
}

.ncss-row:after, .ncss-row:before {
    content: "";
    display: table;
}
.ncss-row:after {
    clear: both;
}

.hf-dropdown-menu-box ul li:last-child{
    margin-bottom: 0;
}
/* ----------------------------- */

.main-header {
    position: relative;
    background: #f5f5f5;
    width: 100%;
}

.pre-l-brand-header {
    position: relative;
    background: #f5f5f5;
    height: 36px;
    width: 100%;
    z-index: 3;
}

.pre-l-wrapper{
    display: flex;
    opacity: 1;
}
.pre-desktop-usermenu{
    display: flex;
    position: absolute;
    padding: 5px;
    margin: auto;
    right: 0;
}

.pre-brand-menu .pre-brand-item {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.flx-dir-r{
    display: flex;
    margin: auto 4px;
   
}
.pre-help-separator{
    display: block;
    margin: auto 8px;
}


.pre-help-dropdown .pre-dropdown-menu-box {
    display: block;
    position: absolute;
    top: 36px;
    background-color: #ccc;
}

.pre-dropdown-menu-box {
    min-width: 240px;
    right: 0;
    top: 36px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity .2s,visibility 0s linear .2s,transform .25s ease;
}
/* .pre-help-dropdown .pre-help-button:hover >.pre-dropdown-menu-box {
    opacity: 1;
    visibility: visible;
} */

.pre-help-dropdown .pre-help-button,
.pre-help-dropdown .pre-help-dropdown-menu-item:hover {
    color: #111;
}
.pre-login-btns a, 
.pre-login-btns button {
    height: 34px;
    color: #111;
}
.pre-login-btns{
   /*  padding-right: 2px; */
    margin: 3px 4px;
}
.pre-help-dropdown a, 
.pre-help-dropdown button {
    padding: 4px 8px;
    color: #111;
}

.ml1-sm {
    margin-left: 4px;
    margin-right: 4px;
}


#hf_title_joinus_membership,
#hf_title_signin_membership,
#hf_header_label_help,
.body-4{
    font-family: "Helvetica Neue",Helvetica,Arial,PingFang,"Microsoft YaHei","雅黑体",SimHei,sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.pre-help-dropdown a:hover,
.pre-login-btns a:hover,
.pre-login-btns button:hover {
    color: #757575;
}


.pre-brand-item a, .pre-brand-item button,
 .pre-btn-header a, .pre-btn-header button,
  .pre-desktop-menu a, .pre-desktop-menu button,
   button.nav-btn, button.pre-link {
    background: transparent;
}
.pre-dropdown-menu-content {
    background: #fff;
    border-radius: 0 0 8px 8px;
}
.pl4-sm {
    padding-left: 16px;
}
.p6-sm {
    padding: 24px;
}
/*  */
fieldset, h1, h2, h3, h4, h5, h6, label, legend, li, 
p, span, strong, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}    
button{
    writing-mode: horizontal-tb !important;
    border:0;
    background-color:none;
    outline:none;
}
