  * {
      margin: 0;
      padding: 0;
      list-style: none;
  }
body{
    width: 1280px;
    margin: auto;
}
  .main-content {
      display: flex;
      position: relative;
      flex-direction: column;
      

  }

  .main-content .txt-card1 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 30px auto;
      padding: 0.5em;

  }

  .main-content .txt-card1 p {
      font-size: 12pt;

  }

  .main-content .txt-card1 span {
      font-size: 12pt;

  }

  .main-content .txt-card1 h1 {
      padding: 0 0.5em 0.3em 0.5em;
      font-size: 42pt;
  }

  .main-content .txt-card1 .select-btn{
      padding: 0.5em;
      background-color: #111;
      color: #fff;
      border-radius: 200px;
      width: 50px;
      margin: 20px auto;
     
  }
  
  .txt .select-btn {
      padding: 0.5em;
      background-color: #111;
      color: #fff;
      border-radius: 200px;
      width: 50px;
      align-items: center;
  }

  .main-content .txt-card1 .select-btn:hover ,
  .txt .select-btnn:hover
  {
      background-color: #757575;
  }

  .main-content .photo-card1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 5px auto;
    padding: 0.5em;


  }
  .main-content .photo-card1 .photo-card1-txt{
      display: flex;
      position: relative;
      flex-direction: column;
      width: 1280px;
      height: 40px;
      
  }
  .main-content .photo-card1 .photo-card1-txt h2 {
      position: absolute;
      width: max-content;
      font-size: 16pt;

  }

  .main-content .photo-card1 .photo-card1-txt button{
    display: flex;
      position: absolute;
      padding: 5px;
      right: 0;
      border-radius: 200px;
      border: none;
     
  }
  .main-content .photo-card1 .photo-card1-txt button:hover{
    background-color: #cccccc;
} 
  .main-content .photo-card1 .photo-card1-txt .prev-btn {
      margin-inline-end: 50px;
  }

  .main-content .photo-card1 .photo-card1-txt .next-btn {
      margin-inline-end: 0px;

  }
 

  

  .main-content .photo-card1 .photo-card1-txt .next-btn svg {}

  .main-footer {
      align-items: center;
      margin: auto;
      vertical-align: bottom;
  }

  .main-footer .container {
      display: flex;
      margin: auto;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      
      
  }

  .main-footer .container:hover {

  }

  .footer-item {
      margin: 0 auto;
      overflow: hidden;
      box-sizing:content-box;
      
  }
  .footer-item :hover {
     
}


  .footer-item h4 {
      font-size: 16px;
      color: #888;
      margin-bottom: .5em;
      padding: 0.3em 0;
  }

  .footer-item nav {
      display: flex;
      flex-direction: column;
  }

  .footer-item nav a {
      color: #ccc;
      line-height: 1.2;
      font-size: 12px;
      text-decoration: none;
      padding: 3px 0;
  }
  .list li{
    color: #ccc;
    line-height: 1.2;
    font-size: 12px;
    text-decoration: none;
    padding: 3px 0;
}
