  * {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .main-content {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 1280px;
      margin: auto;

  }

  .main-content .txt-card1 {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 30px auto;
      padding: 0.5em;

  }

  .main-content .txt-card1 p {
      font-size: 12pt;

  }

  .main-content .txt-card1 span {
      font-size: 12pt;

  }

  .main-content .txt-card1 h1 {
      padding: 0 0.5em 0.3em 0.5em;
      font-size: 42pt;
  }

  .main-content .txt-card1 .select-btn {
      padding: 0.5em;
      background-color: #111;
      color: #fff;
      border-radius: 200px;
      width: 50px;
      margin: 20px auto;
      ;
  }

  .main-content .txt-card1 .select-btn:hover {
      background-color: #757575;
  }

  .main-content .photo-card1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin: 5px auto;
    padding: 0.5em;


  }
  .main-content .photo-card1 .photo-card1-txt{
      display: flex;
      position: relative;
      flex-direction: column;
      width: 1280px;
      height: 40px;
      
  }
  .main-content .photo-card1 .photo-card1-txt h2 {
      position: absolute;
      width: max-content;
      font-size: 16pt;

  }

  .main-content .photo-card1 .photo-card1-txt button{
    display: flex;
      position: absolute;
      padding: 5px;
      right: 0;
      border-radius: 200px;
      border: none;
     
  }
  .main-content .photo-card1 .photo-card1-txt button:hover{
    background-color: #cccccc;
} 
  .main-content .photo-card1 .photo-card1-txt .prev-btn {
      margin-inline-end: 50px;
  }

  .main-content .photo-card1 .photo-card1-txt .next-btn {
      margin-inline-end: 0px;

  }
 

  

  .main-content .photo-card1 .photo-card1-txt .next-btn svg {}

  .main-footer {
      width: 1280px;
      align-items: center;
      margin: auto;
      vertical-align: bottom;
  }

  .main-footer .container {
      width: 500px;
      height: 120px;
      display: flex;
      margin: auto;
      padding: 0px 100px;
      overflow: hidden;
      position: relative;
  }

  .main-footer .container:hover {
      overflow: visible;
  }

  .footer-item {
      width: 200px;
      flex-grow: 1;
      margin: 0 5px;

  }

  .footer-item h4 {
      font-size: 16px;
      color: #888;
      margin-bottom: .5em;
      padding: 0.3em 0;
  }

  .footer-item nav {
      display: flex;
      flex-direction: column;

  }

  .footer-item nav a {
      color: #ccc;
      line-height: 1.2;
      font-size: 12px;
      text-decoration: none;
      padding: 3px 0;
  }

  .footer-item .list li {
      color: #ccc;
      line-height: 1.2;
      font-size: 12px;
      text-decoration: none;
      padding: 3px 0;
  }